{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="contact-entry">
        <div class="link">
            <a href="https://twitter.com/BenjHamonWrites">
                <p>X (Twitter) @BenjHamonWrites</p>
            </a>
        </div>
        <div class="text">
            <p>I don't use social media much but feel free to follow me on X (previously Twitter) for news.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:writing@benjaminhamon.com">writing@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>You’re welcome to reach out to me about my books and about writing in general, let's chat! I'll happily read your feedback and I might be able to answer questions. Don't hesitate to invite me to an online discussion, I might not participate but I'll take a look.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:publishing@benjaminhamon.com">publishing@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>I'm a self-published author, so you may reach out to me directly about publishing. Please message me if you encounter any issues with the books or the platforms hosting them. If you have questions or requests, I'll gladly consider them.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:development@benjaminhamon.com">development@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>Please message me to this address if you encounter any issues with the website. You can also check out the project directly on <a href="https://github.com/BenjaminHamon/WritingWebsite/">GitHub</a>—sources, discussions, issues, and all.</p>
        </div>
    </article>
</section>

{% endblock %}
