/* Home */

.news-entry > .text
{
	display: block;
}

.news-entry > .text > p
{
	margin-bottom: 0.5em;
}

.news-entry > .text > p:last-child
{
	margin-bottom: 0;
}

.news-entry > .text img
{
	float: right;
	margin-left: 1em;
	max-width: min(160px, 25%);
	max-height: 256px;
}



/* Books */

.book-entry
{
	display: grid;
	grid-template-columns: 1fr min(160px, 25%);
}

.book-entry > .title { grid-area: 1 / 1; }
.book-entry > .credits { grid-area: 2 / 1; }
.book-entry > .extra { grid-area: 3 / 1; }
.book-entry > .cover { grid-area: 1 / 2 / 5 / 3; }
.book-entry > .tags { grid-area: 4 / 1 / 5 / 3; }
.book-entry > .description { grid-area: 5 / 1 / 6 / 3; }
.book-entry > .blurb { grid-area: 6 / 1 / 7 / 3; }
.book-entry > .links { grid-area: 7 / 1 / 8 / 3; }

.book-entry > .title
{
	font-size: 2em;
	line-height: 1.2em;
}

.book-entry > .title p span
{
	display: inline-block;
	text-indent: 0;
}

.book-entry > .credits
{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	line-height: 1.25em;
}

.book-entry > .credits > p > span
{
	display: inline-block;
}

.book-entry > .extra
{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	line-height: 1.25em;
}

.book-entry > .tags
{
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.book-entry > .tags > ul
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.4em;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.book-entry > .tags > ul > li
{
	padding: 0 0.4em;
	border-radius: 4px;
}

.book-entry > .tags > ul > li.information
{
    background-color: #bbddff;
}


.book-entry > .tags > ul > li.warning
{
    background-color: #ffeebb;
}

.book-entry > .cover img
{
	max-width: min(160px, 100%);
	max-height: min(256px, 100%);
}

.book-entry > .description
{
	background-color: #f0f0f0;
	padding: 0 0.4em;
	border-radius: 4px;
}

.book-entry > .description > details > summary
{
	cursor: pointer;
	list-style: none;
	color: #0000ee;
}

.book-entry > .description > details > div
{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.book-entry > .description > details > div > p
{
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}

.book-entry > .description > details > div > p.emphasis-bold
{
	font-weight: bold;
}

.book-entry > .description > details > div > p.emphasis-italic
{
	font-style: italic;
}

.book-entry > .blurb
{
	background-color: #f0f0f0;
	padding: 0 0.4em;
	border-radius: 4px;
}

.book-entry > .blurb > details > summary
{
	cursor: pointer;
	list-style: none;
	color: #0000ee;
}

.book-entry > .blurb > details > div
{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.book-entry > .blurb > details > div > p
{
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}

.book-entry > .blurb > details > div > p.emphasis-bold
{
	font-weight: bold;
}

.book-entry > .blurb > details > div > p.emphasis-italic
{
	font-style: italic;
}

.book-entry > .links
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
}


.book-entry > .links > a
{
	text-align: center;
	text-decoration: none;
}

.book-entry > .links > a > span
{
	display: inline-block;
}



/* About */

.about-entry > .text
{
	display: block;
}

.about-entry > .text > img
{
	float: right;
	margin: 2em;
	margin-right: 0;
	max-width: min(200px, 25%);
	max-height: 200px;
}


/* Contact */

.contact-entry > div.link
{
	text-align: center;
}

.contact-entry > div.link > a
{
	text-decoration: none;
}
