/* Home */

.news-entry > .image
{
	align-self: center;
}

.news-entry > .image img
{
	max-width: 250px;
	max-height: 250px;
}



/* Books */

.book-entry
{
	display: grid;
	grid-template-columns: 1fr auto;
}

.book-entry > .title { grid-area: 1 / 1; }
.book-entry > .credits { grid-area: 2 / 1; }
.book-entry > .extra { grid-area: 3 / 1; }
.book-entry > .cover { grid-area: 1 / 2 / 5 / 3; }
.book-entry > .tags { grid-area: 4 / 1 / 5 / 3; }
.book-entry > .blurb { grid-area: 5 / 1 / 6 / 3; }
.book-entry > .links { grid-area: 6 / 1 / 7 / 3; }

@media (max-width: 800px)
{
	.book-entry > .title { grid-area: 1 / 1; }
	.book-entry > .credits { grid-area: 2 / 1; }
	.book-entry > .cover { grid-area: 1 / 2 / 4 / 3; }
	.book-entry > .extra { grid-area: 3 / 1 / 4 / 3; }
	.book-entry > .tags { grid-area: 4 / 1  / 5 / 3; }
	.book-entry > .blurb { grid-area: 5 / 1 / 5 / 3; }
	.book-entry > .links { grid-area: 6 / 1 / 6 / 3; }
}

.book-entry > .title
{
	font-size: 2em;
	line-height: 1.2em;
}

.book-entry > .title p span
{
	display: inline-block;
	text-indent: 0;
}

.book-entry > .credits
{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	line-height: 1.25em;
}

.book-entry > .credits > p > span
{
	display: inline-block;
}

.book-entry > .extra
{
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	line-height: 1.25em;
}

.book-entry > .tags
{
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.book-entry > .tags > ul
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.4em;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.book-entry > .tags > ul > li
{
	padding: 0 0.4em;
	border-radius: 4px;
}

.book-entry > .tags > ul > li.information
{
    background-color: #bbddff;
}


.book-entry > .tags > ul > li.warning
{
    background-color: #ffeebb;
}

.book-entry > .cover img
{
	max-width: 160px;
	max-height: 256px;
}

@media (max-width: 800px)
{
	.book-entry > .cover img
	{
		max-width: 80px;
		max-height: 128px;
	}
}

.book-entry > .blurb
{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.book-entry > .blurb > p
{
	font-style: italic;
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}

.book-entry > .links
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
}


.book-entry > .links > a
{
	text-align: center;
	text-decoration: none;
}

.book-entry > .links > a > span
{
	display: inline-block;
}



/* Contact */

.contact-entry > div.link
{
	text-align: center;
}

.contact-entry > div.link > a
{
	text-decoration: none;
}
