h1, p, ul
{
	margin: 0;
}

button, input
{
	font-family: inherit;
	font-size: 1em;
}

main > section
{
	display: flex;
	flex-direction: column;
	align-self: stretch;
	gap: 1em;
}

main > section > article
{
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 1em;
	box-shadow: 0 0 5px #999999;
	background-color: #fff;
}

article > div.heading
{
	display: flex;
	flex-direction: row;
	font-size: 2em;
	line-height: 1em;
}

article > div.heading a
{
	text-decoration: none;
}

article > div.text
{
	display: block;
}

article > div.text h1
{
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

article > div.text blockquote
{
	background-color: #eeeeee;
	border-radius: 0.5em;
	color: #005555;
	margin: 0.5em 0 1em 0;
	padding: 0.5em 0.75em;
}

article > div.text p
{
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
	margin-bottom: 0.5em;
}

article > div.text p.emphasis-bold
{
	font-weight: bold;
}

article > div.text p.emphasis-italic
{
	font-style: italic;
}

article > div.text p:last-child
{
	margin-bottom: 0;
}

article > div.text p span
{
	display: inline-block;
	text-indent: 0;
}

article > div.tags
{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

article > div.tags > ul
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

article > div.tags > ul > li
{
	padding: 0 0.5em;
	border-radius: 4px;
    background-color: #bbddff;
}

article > div.tags > ul > li.information
{
    background-color: #bbddff;
}

article > div.tags > ul > li.warning
{
    background-color: #ffeebb;
}

article > div.details
{
	background-color: #f0f0f0;
	padding: 0 0.5em;
	border-radius: 4px;
}

article > div.details > details > summary
{
	cursor: pointer;
	color: #0000ee;
}

article > div.details > details > div
{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

article > div.details > details > div > p
{
	line-height: 1.5em;
	text-align: justify;
	text-indent: 1em;
}

article > div.details > details > div > p.emphasis-bold
{
	font-weight: bold;
}

article > div.details > details > div > p.emphasis-italic
{
	font-style: italic;
}

article .separator
{
    border: 1px solid #dddddd;
    width: 40%;
}

article.error-message
{
	font-weight: bold;
	text-align: center;
}
