{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="about-entry">
        <div class="heading">
            <p>About the author</p>
        </div>
        <div class="text">
            <img src="{{ url_for('static', filename = 'images/benjamin_hamon.jpeg') }}"/>
            <p>Hi! I'm Benjamin.</p>
            <p>I'm a thirty-two-year-old French guy who worked as a software engineer in the video game industry for about a decade. While it was an enjoyable and comfortable job, I never really felt like it was the path I had actively chosen; I wanted to do something else.
            <p>I've loved books and stories forever. I read a bunch of fantasy epics, and I spent my time between books, tv shows, and video games. At school, I was this guy who stayed by himself and carried around a thousand-page book. My favorite books are the <em>Wheel Of Time</em> series.</p>
            <p>I've had a hobby of writing since about as long as I've been reading. I wrote short stories, fan fiction, and random chapters for epic novels. However, I never finished or published a book for thirty years, far from it, but I’ve always loved writing. And then, I decided to get serious about it.</p>
            <p>The start of 2022 was a particular time for me, in part because I was putting a lot more effort and time into my writing. I was publishing blog entries and making actual progress on my stories. I ended up completely rewriting a love story I had started years ago. It's <em>The Maze Of Your Mind</em>, and I finished a first draft in May 2022, clocking in at 150 000 words. Since then, I've been rewriting, expanding and revising it, as well as starting to work on more novels.</p>
            <p>As I'm writing this, I'm only weeks away from self-publishing my first complete book ever. I'm quite stressed but also incredibly excited. I don't consider myself especially ambitious, or talented for that matter. If even one person enjoys the story, it will be a success!</p>
        </div>
    </article>
    <article class="about-entry">
        <div class="heading">
            <p>About the books</p>
        </div>
        <div class="text">
            <p>My stories are contemporary or fantasy, focused heavily on adult romance and relationships, on wonder and mystery, on psychology and philosophy. They usually center around women and queer characters, explore close relationships and life stories, and debate many themes. I want my stories to be complex, high-quality, and meaningful, with a goal of making the reader feel strong emotions and think deeply about the themes.</p>
            <p>The books are self-published as ebooks. They are available from online retailers such as Amazon, Google and Kobo. You might notice I indicate EI Benjamin Hamon as the publisher, it means Entreprise Individuelle (sole proprietorship) and it's a legal status for running a business as an individual.</p>
        </div>
    </article>
</section>

{% endblock %}
