{# cspell:words Junqueira Studer Taryn #}

{% extends 'layout.html' %}

{% block content %}

<section>
    <article id="the-maze-of-your-mind-book-1" class="book-entry">
        <div class="title">
            <p class="book-title"><span>The Maze</span> <span>Of Your Mind,</span> <span>Book 1</span></p>
        </div>
        <div class="cover">
            <a href="{{ url_for('static', filename = 'images/the_maze_of_your_mind_book_1.jpeg') }}">
		        <img src="{{ url_for('static', filename = 'images/the_maze_of_your_mind_book_1.jpeg') }}"/>
            </a>
        </div>
        <div class="credits">
            <p><span>Written by</span> <span>Benjamin Hamon</span></p>
            <p><span>Published by</span> <span>EI Benjamin Hamon</span></p>
            <p><span>Cover design by</span> <span>Natalia Junqueira</span></p>
            <p><span>Editorial assessment by</span> <span>Sydney Weinberg</span></p>
            <p><span>Developmental and line edits by</span> <span>Kate Studer</span></p>
            <p><span>Proofreading by</span> <span>Taryn Ortolan</span></p>
        </div>
        <div class="extra">
            <p class="identifier">ISBN 978-2-9589779-0-0</p>
            <p class="date">Release on 2-October-2023</p>
            <p class="date">Updated on 23-January-2024</p>
        </div>
        <div class="tags">
			<ul>
                <li class="information">Contemporary romance</li>
                <li class="information">Queer romance</li>
                <li class="information">Women loving women</li>
            </ul>
            <ul>
                <li class="warning">Adult themes</li>
                <li class="warning">Moderate sexual content</li>
			</ul>
        </div>
		<div class="description">
            <details>
                <summary>Show book description</summary>
                <div>
                    <p>The Maze Of Your Mind is a work of fiction and a contemporary romance.</p>
                    <p>The books are about women and their love stories. They feature queer characters and women loving women relationships. They aim at being wholesome and hopeful while also discussing serious topics such as love, sexuality and mental health.</p>
                    <p>As a warning to readers, the books feature adult themes and notably include mental health issues, as well as some moderate sexual content.</p>
                </div>
            </details>
		</div>
		<div class="blurb">
            <details>
                <summary>Show story blurb</summary>
                <div>
                    <p class="emphasis-italic emphasis-bold">Saying “I love you” can be hard, even for best friends.</p>
                    <p class="emphasis-italic">It’s been years since Kate and Sara called themselves best friends. Life has happened and they’ve drifted away from each other. Sara’s become an adult, discovered new things about herself, experienced love. She’s decided she’s going to make her own happiness and build herself the perfect love story, except she’s as shy as ever, hopelessly stuck in the daily routine, and not quite confident enough to put herself out there.</p>
                    <p class="emphasis-italic">During one fateful winter, Sara reunites with Kate, and their bond is reborn as if the time apart never happened. Sara’s happy once again, and her affection quickly grows beyond simple friendship, so much so that she starts decisively involving herself in Kate’s life. However, dealing with Kate might be more complicated than Sara imagined.</p>
                </div>
            </details>
		</div>
        <div class="links">
            <a href="https://www.amazon.com/dp/B0CH51W6PL"><span>Buy on</span> <span>Amazon</span></a>
            <a href="https://play.google.com/store/books/details?id=UpHTEAAAQBAJ"><span>Buy on</span> <span>Google Play</span></a>
            <a href="https://www.kobo.com/ebook/the-maze-of-your-mind"><span>Buy on</span> <span>Kobo</span></a>
        </div>
    </article>
</section>

<section>
    <article id="the-maze-of-your-mind-book-2" class="book-entry">
        <div class="title">
            <p class="book-title">The Maze Of Your Mind, Book 2</p>
        </div>
        <div class="credits">
            <p class="book-author"><span>Written by</span> <span>Benjamin Hamon</span></p>
            <p class="book-publisher"><span>Published by</span> <span>EI Benjamin Hamon</span></p>
        </div>
        <div class="extra">
            <p class="book-release-date">Work in progress</p>
        </div>
        <div class="tags">
			<ul>
                <li class="information">Contemporary romance</li>
                <li class="information">Queer romance</li>
                <li class="information">Women loving women</li>
            </ul>
            <ul>
                <li class="warning">Adult themes</li>
                <li class="warning">Moderate sexual content</li>
			</ul>
        </div>
		<div class="description">
            <details>
                <summary>Show book description</summary>
                <div>
                    <p>The Maze Of Your Mind is a work of fiction and a contemporary romance.</p>
                    <p>The books are about women and their love stories. They feature queer characters and women loving women relationships. They aim at being wholesome and hopeful while also discussing serious topics such as love, sexuality and mental health.</p>
                    <p>As a warning to readers, the books feature adult themes and notably include mental health issues, as well as some moderate sexual content.</p>
                </div>
            </details>
		</div>
    </article>
</section>

<section>
    <article id="half-a-life" class="book-entry">
        <div class="title">
            <p class="book-title">Half A Life, Book 1</p>
        </div>
        <div class="credits">
            <p class="book-author"><span>Written by</span> <span>Benjamin Hamon</span></p>
            <p class="book-publisher"><span>Published by</span> <span>EI Benjamin Hamon</span></p>
        </div>
        <div class="extra">
            <p class="book-release-date">Work in progress</p>
        </div>
        <div class="tags">
			<ul>
                <li class="information">Contemporary tragedy</li>
            </ul>
            <ul>
                <li class="warning">Adult themes</li>
                <li class="warning">Sexual content</li>
                <li class="warning">Trigger warning (see description)</li>
			</ul>
        </div>
		<div class="description">
            <details>
                <summary>Show book description</summary>
                <div>
                    <p>Half A Life (temporary title) is a work of fiction and a contemporary tragedy.</p>
                    <p>The books are about women and them overcoming abuse and its traumas. They feature queer characters and topics such as mental health, trauma and sex.</p>
                    <p>As a warning to readers, the books are dark and feature adult themes. They notably include sexual content, physical and sexual abuse, incest, prostitution, and mental health issues.</p>
                </div>
            </details>
		</div>
    </article>
</section>

{% endblock %}
