{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="contact-entry">
        <div class="link">
            <a href="https://dashboard.mailerlite.com/forms/563397/97120556387665587/share">
                <p>Subscribe to the newsletter</p>
            </a>
        </div>
        <div class="text">
            <p>Subscribe for rare and irregular news about my books. Unsubscribe anytime. Thank you for your interest!</p>
            <p><em>(Service provided by MailerLite. Please note this link will send you to another webpage to subscribe, after which you'll receive a confirmation email.)</em></p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="https://www.facebook.com/profile.php?id=61555876006103">
                <p>Facebook</p>
            </a>
            <a href="https://www.instagram.com/benjaminhamonwrites/">
                <p>Instagram @benjaminhamonwrites</p>
            </a>
            <a href="https://twitter.com/BenjHamonWrites">
                <p>X (Twitter) @BenjHamonWrites</p>
            </a>
        </div>
        <div class="text">
            <p>I don't use social media much if at all but feel free to follow me on Facebook, Instagram and X for news.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:writing@benjaminhamon.com">writing@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>You’re welcome to reach out to me about my books and about writing in general, let's chat! I'll happily read your feedback and I might be able to answer questions. I'll also happily look through online discussions and I can try to participate.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:publishing@benjaminhamon.com">publishing@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>I'm a self-published author, so you may reach out to me directly about publishing. Please message me if you run into any issues with the books (bad formatting, spelling mistakes, etc.) or with the platforms hosting them (incorrect information, weird price, etc.). If you have questions or requests, I'll gladly consider them.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="mailto:development@benjaminhamon.com">development@benjaminhamon.com</a>
        </div>
        <div class="text">
            <p>Please message me to this address if you encounter any issues with the website. You can also check out the project directly on <a href="https://github.com/BenjaminHamon/AuthorWebsite/">GitHub</a>—sources, discussions, issues, and all.</p>
        </div>
    </article>
</section>

{% endblock %}
