{% extends 'layout.html' %}

{% block content %}

<section>
    <article class="welcome">
        <div class="text">
            <p>Welcome,</p>
            <p>This website is about my books and me as a writer.</p>
        </div>
    </article>
    <article class="contact-entry">
        <div class="link">
            <a href="https://dashboard.mailerlite.com/forms/563397/97120556387665587/share">
                <p>Subscribe to the newsletter</p>
            </a>
        </div>
    </article>
    <article class="news-entry">
        <div class="text">
            <a href="{{ url_for('main_controller.books', _anchor = 'the-maze-of-your-mind-book-1') }}">
		        <img src="{{ url_for('static', filename = 'books/the_maze_of_your_mind/the_maze_of_your_mind_book_1.jpeg') }}"/>
            </a>
            <p>My first book, <em>The Maze Of Your Mind</em>, released on 2 October 2023. Please consider checking it out. Thank you!</p>
            <p><em>The Maze Of Your Mind</em> is contemporary fiction focusing on women loving women romance. It depicts healthy, friendly relationships, as well as the characters' internal struggles with life, love, and sex. The first book in the series follows Sara as she reunites with her best friend Kate and develops romantic feelings for her, feelings which are not going away, regardless of Sara's lack of confidence and Kate's uneasiness.</p>
        </div>
    </article>
</section>

{% endblock %}
