{% import 'macros.html' as shared_macros -%}

<!doctype html>
<html>

    <head>
        <title>{{ title }} - {{ config['WEBSITE_TITLE'] }}</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'layout.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'generic.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'content.css') }}"/>
    </head>

    <body>

        <header>
            <div class="title">
                <a href="{{ url_for('main_controller.home') }}"><p>{{ config['WEBSITE_TITLE'] }}</p></a>
            </div>
            <nav>
				{{ shared_macros.navigation_link('main_controller.home', 'Home', [ 'main_controller.home' ]) }}
				{{ shared_macros.navigation_link('main_controller.books', 'Books', [ 'main_controller.books' ]) }}
				{{ shared_macros.navigation_link('main_controller.about', 'About', [ 'main_controller.about' ]) }}
				{{ shared_macros.navigation_link('main_controller.contact', 'Contact', [ 'main_controller.contact' ]) }}
            </nav>
        </header>

        <main>

            {% block content %}{% endblock %}

        </main>

        <footer>
            <div>
                <p>{{ config['WEBSITE_TITLE'] }}</p>
            </div>
            <div>
                <a href="https://www.benjaminhamon.com">Portal</a>
                <a href="https://github.com/BenjaminHamon/AuthorWebsite/">Sources</a>
                <a href="mailto:development@benjaminhamon.com">Contact</a>
            </div>
            <div>
                {% if config['WEBSITE_VERSION'] %}
                <p>Version {{ config['WEBSITE_VERSION'] }} ({{ config['WEBSITE_DATE'] }})</p>
                <p>{{ config['WEBSITE_COPYRIGHT'].replace("(c)", "©") }}</p>
                {% else %}
                <p>Development Version</p>
                {% endif %}
            </div>
        </footer>

    </body>

    {% block scripts %}{% endblock %}

</html>
